[submodule "deps/gltf"]
	path = deps/gltf
	url = https://github.com/lcolonq/gltf
[submodule "deps/glfw-rs"]
	path = deps/glfw-rs
	url = git@github.com:lcolonq/glfw-rs.git
[submodule "deps/directories-rs"]
	path = deps/directories-rs
	url = git@github.com:lcolonq/directories-rs.git
